#login{
    /* align-content: center;
    text-align: center; */
    position: absolute;
    top:25%;
    left: 37%;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 4px;
    border-style: ridge;
    border-width: 6px;
}

#username{
    border-radius: 6px;
    border-color: rgb(77, 6, 71);
    border-style: solid;
    padding: 8px;
    background-color: rgb(252, 249, 249);
    
}

#password{
    border-radius: 6px;
    border-color: rgb(77, 6, 71);
    border-style: solid;
    padding: 8px;
    background-color: rgb(252, 249, 249);
}

#login-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : rgb(108, 108, 108);
    
}

body{
    background-color:rgb(77, 76, 76);
}


.input {
    display: block;
  }
  .input span {
    position: absolute;
    z-index: 1;
    cursor: text;
    pointer-events: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #999;
    /* Input padding + input border */
    padding: 7px;
    /* Firefox does not respond well to different line heights. Use padding instead. */
    line-height: 17px;
    /* This gives a little gap between the cursor and the label */
    margin-left: 2px;
  }
  .input input, .input textarea, .input select {
    z-index: 0;
    padding: 6px;
    margin: 0;
    font: inherit;
    line-height: 17px;
  }
  .input select {
    padding: 5px;
    /* Unfortunately selects don't respond well to padding. They need an explicit height. */
    height: 31px;
  }