.general-button{
    padding: 8px;
    background-color: greenyellow;
    border-radius: 5px;
    text-align: center;
    height : 40px;
    width : 150px;
    border : solid;
    border-style: solid;
    border-color: darkgreen;
}

.room-button{
    padding: 30px;
    background-color:purple;    
    border-radius: 5px;
    
    /* text-align: cener; */
    /* height : 120px;x
    width : 100px; */
}

#pyramid-home{
    background-image: url("pyramid_top_view.jpeg");
    background-repeat: no-repeat;
    max-width: 200%;
    height:auto;

}