.general-button{
    padding: 8px;
    background-color: greenyellow;
    border-radius: 5px;
    text-align: center;
    height : 40px;
    width : 150px;
    border : solid;
    border-style: solid;
    border-color: darkgreen;
}

#pyramid-home{
    background-image: url("pyramid_top_view.jpeg");
    background-size:cover;
    width: 97vw;
    height: 87vh; 
}