<!DOCTYPE html>
<html>
    <head>
        <title>Adytum</title>
        <link rel="stylesheet" href="../css/room.css">
        <link rel="stylesheet" href="../css/general.css">
        <script src="../src/room_class.js"></script>
        <script>
            var lroom = "lroomno";
            var rroom = "rroomno";
            var uroom = "uroomno";
            var droom = "droomno"; //change string accoding to map
        </script>
    </head>
    <div id="navbar" class="Active">
        <a href="home.html">Home</a>
        <a href="leaderboard.html">Leaderboard</a>
        <a href="FAQ.html">FAQ</a>
        <a href="about.html">About</a>
        <img src="../images/logo.png" height="45" style="float: right" />
        
    </div>
    <button id="hide">v</button>
    <br>
    <div class="room">
        <button class = "room-button" onclick=travel(currRoom,uroom)>Go Up</button><br>
        <button onclick=travel(currRoom,lroom) class="room-button left">Go Left</button> 
        <button onclick=hide(puzzle) class="room-button showPuzzle">Show Puzzle</button>
        <button onclick=travel(currRoom,rroom) class="room-button right">Go Right</button><br>
        <button onclick=travel(currRoom,droom) class="room-button bottom">Go Down</button>
    </div>
    <div id="puzzle" class="Inactive">
            <iframe src="../puzzles/puzzle1.html" ></iframe>
        <button onclick=hide(puzzle) class="closebtn"></button>
    </div>
</html>